<script setup lang="ts">
import { ref, computed } from "vue";
import RiceView from "./RiceMenuView.vue";
import MeatView from "./MeatMenuView.vue";
import FishView from "./FishMenuView.vue";
import OtherView from "./OtherMenuView.vue";

const selectedBtn = ref("meat"); // the value of the v-btn that you want to be selected on app load

const currentView = computed(() => {
  if (selectedBtn.value === "rice") return RiceView;
  if (selectedBtn.value === "meat") return MeatView;
  if (selectedBtn.value === "fish") return FishView;
  if (selectedBtn.value === "other") return OtherView;
  return null;
});
</script>

<template>
  <v-btn-toggle
    v-model="selectedBtn"
    rounded="0"
    color="grey-lighten-4"
    group
    style="width: 100%; justify-content: space-evenly"
  >
    <v-btn
      value="rice"
      width="25%"
      :disabled="selectedBtn === 'rice'"
      :class="{ 'disabled-btn': selectedBtn === 'rice' }"
      color="#F0F0F0"
    >
      เมนูข้าว
    </v-btn>

    <v-btn
      value="meat"
      width="25%"
      :disabled="selectedBtn === 'meat'"
      :class="{ 'disabled-btn': selectedBtn === 'meat' }"
      color="#F0F0F0"
    >
      เมนูเนื้อ
    </v-btn>

    <v-btn
      value="fish"
      width="25%"
      :disabled="selectedBtn === 'fish'"
      :class="{ 'disabled-btn': selectedBtn === 'fish' }"
      color="#F0F0F0"
    >
      เมนูปลา
    </v-btn>

    <v-btn
      value="other"
      width="25%"
      :disabled="selectedBtn === 'other'"
      :class="{ 'disabled-btn': selectedBtn === 'other' }"
      color="#F0F0F0"
    >
      เมนูอื่นๆ
    </v-btn>
  </v-btn-toggle>
  <v-container style="padding: 0">
    <component :is="currentView" />
  </v-container>
</template>

<style scoped></style>
