<script setup lang="ts">
import { ref } from "vue";
import { onMounted } from "vue";
import { useFoodListStore } from "@/stores/foodlist";

const foodListStore = useFoodListStore();

onMounted(async () => {
  await foodListStore.getServeFood();
});

const selectedBtn = ref(-1);

function serveFood(id: number) {
  foodListStore.updateStatus(id, "เสร็จสิ้น");
  foodListStore.deleteFoodList(id);
  return;
}

const dialog = ref(false);
</script>

<template>
  <v-card class="mx-auto" max-width="400">
    <v-list
      lines="three"
      select-strategy="single-independent"
      v-model="selectedBtn"
    >
      <v-list-subheader style="color: black; font-size: larger"
        >รายการอาหารพร้อมเสริฟ</v-list-subheader
      >
      <div v-for="item of foodListStore.serveFoodLists" :key="item.id">
        <v-list-item>
          <v-container class="grey lighten-5">
            <v-list-item-title>
              <div style="font-size: 130%">{{ item.name }}</div>
              <div>โต๊ะ: {{ item.tableId }}</div>
            </v-list-item-title>
            <div v-if="selectedBtn === item.id">
              <!-- <v-list-item-subtitle v-for="text in item.food!.ingredients" :key="text">
              {{ text}}
              </v-list-item-subtitle> -->
            </div>
            <div style="margin: 5px">
              <v-btn
                style="margin: 5px; width: 120px"
                @click="serveFood(item.id)"
              >
                เสริฟอาหาร
              </v-btn>
            </div>
          </v-container>
        </v-list-item>
      </div>
      <!-- <v-list-item>
      <div style="font-style: oblique; color: #a0a0a0; user-select: none;">ไม่มีรายการอาหารที่สั่ง</div>
  </v-list-item> -->
    </v-list>
  </v-card>
</template>

<style scoped></style>
