<script setup lang="ts">
import { ref } from "vue";
import { onMounted } from "vue";
import { useFoodListStore } from "@/stores/foodlist";

const foodListStore = useFoodListStore();
const foodtype = "ข้าว";

onMounted(async () => {
  await foodListStore.getFoodsList();
});

const selectedBtn = ref(-1);

function subShow(index: number) {
  selectedBtn.value = index;
  return;
}

function delFood(id: number) {
  foodListStore.deleteFoodList(id);
  return;
}

function updateFood(id: number, status: string) {
  foodListStore.updateStatus(id, status);
  return;
}

function finishFood(id: number) {
  foodListStore.updateStatus(id, "พร้อมเสริฟอาหาร");
  return;
}

const dialog = ref(false);
</script>

<template>
  <v-card class="mx-auto" max-width="400">
    <v-list
      lines="three"
      select-strategy="single-independent"
      v-model="selectedBtn"
    >
      <v-list-subheader>รายการอาหาร</v-list-subheader>
      <div v-for="item of foodListStore.foodLists" :key="item.id">
        <v-list-item
          v-if="
            item.food?.category === foodtype &&
            item.orderStatus !== 'พร้อมเสริฟอาหาร' &&
            item.orderStatus !== 'ยกเลิก' &&
            item.orderStatus !== 'เสร็จสิ้น'
          "
          @click="subShow(item.id!)"
        >
          <v-container class="grey lighten-5">
            <v-list-item-title>
              {{ item.food!.name }} ({{ item.orderStatus }})
            </v-list-item-title>
            <div v-if="selectedBtn === item.id">
              <!-- <v-list-item-subtitle v-for="text in item.food!.ingredients" :key="text">
              {{ text}}
            </v-list-item-subtitle> -->
              <v-list-item-subtitle>
                {{ item.food!.ingredients }}
              </v-list-item-subtitle>
            </div>
            <div style="margin: 5px">
              <v-btn
                v-if="
                  selectedBtn === item.id && item.orderStatus === 'รอทำอาหาร'
                "
                style="margin: 5px; width: 75px"
                @click="updateFood(item.id!, 'กำลังทำอาหาร')"
              >
                <!-- @click="item.orderStatus = 'กำลังทำอาหาร'" -->
                ทำอาหาร
              </v-btn>
              <v-btn
                v-if="
                  selectedBtn === item.id && item.orderStatus === 'กำลังทำอาหาร'
                "
                style="margin: 5px; width: 120px"
                @click="finishFood(item.id!)"
              >
                ทำอาหารเสร็จ
              </v-btn>
              <v-btn
                v-if="
                  selectedBtn === item.id &&
                  item.orderStatus !== 'พร้อมเสริฟอาหาร'
                "
                style="margin: 5px; width: 75px"
                @click="dialog = true"
              >
                ยกเลิก
              </v-btn>
              <!-- <v-btn
                v-if="selectedBtn === item.id"
                style="margin: 5px; width: 75px"
              >
                ดูวัตถุดิบ
              </v-btn> -->
            </div>

            <div class="text-center">
              <v-dialog v-model="dialog">
                <v-card style="width: 600px; margin: auto">
                  <v-container>
                    <v-row justify="center" class="text-center">
                      <v-col cols="12">
                        <v-card-title> ยกเลิกรายการอาหาร </v-card-title>
                      </v-col>
                    </v-row>
                    <v-row justify="center" style="margin-bottom: 10px">
                    </v-row>
                    <v-row justify="center">
                      <v-col cols="2">
                        <v-btn
                          color="red"
                          block
                          @click="dialog = false"
                          style="width: 150px"
                          >ออก</v-btn
                        >
                      </v-col>
                      <v-col cols="2">
                        <v-btn
                          color="secondary"
                          block
                          @click="
                            dialog = false;
                            delFood(selectedBtn);
                          "
                          style="width: 150px"
                          >ยืนยัน</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card>
              </v-dialog>
            </div>
          </v-container>
        </v-list-item>
      </div>
      <!-- <v-list-item>
      <div style="font-style: oblique; color: #a0a0a0; user-select: none;">ไม่มีรายการอาหารที่สั่ง</div>
  </v-list-item> -->
    </v-list>
  </v-card>
</template>

<style scoped></style>
