<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { onMounted, ref, computed } from "vue";
import { mdiMagnify } from "@mdi/js";
import EmployeeDialog from "./EmpDialog.vue";

const employeeStore = useEmployeeStore();
const searchText = ref("");
const employeeList = computed(() => {
  return employeeStore.employees.filter((item) => {
    if (item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1) {
      return (
        item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    } else if (
      item.job.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
    ) {
      return (
        item.job.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    } else {
      return (
        item.phoneNumber.toLowerCase().indexOf(searchText.value.toLowerCase()) >
        -1
      );
    }
  });
});

onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>
<template>
  <h1 style="color: black; text-align: center">จัดการพนักงาน</h1>
  <EmployeeDialog></EmployeeDialog>
  <v-row class="mt-5">
    <v-col>
      <v-btn @click="employeeStore.dialog = true" color="green" height="55px"
        >Add New</v-btn
      >
    </v-col>
    <v-col>
      <v-text-field
        :prepend-inner-icon="mdiMagnify"
        label="Search By Name, Job, Phone Number"
        v-model="searchText"
      ></v-text-field>
    </v-col>
  </v-row>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Working Hours</th>
        <th>Job</th>
        <th>Phone Number</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of employeeList" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.workingHours }}</td>
        <td>{{ item.job }}</td>
        <th>{{ item.phoneNumber }}</th>
        <td>
          <v-btn
            class="mr-5"
            @click="employeeStore.editEmployee(item)"
            color="yellow"
            >Edit</v-btn
          ><v-btn @click="employeeStore.deleteEmployee(item.id!)" color="red"
            >Delete</v-btn
          >
        </td>
      </tr>
      <tr v-if="employeeList.length == 0">
        <td colspan="7" class="text-center" style="font-size: 200%">No Data</td>
      </tr>
    </tbody>
  </v-table>
</template>
