<script lang="ts" setup>
import { useFoodStore } from "@/stores/food";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const foodStore = useFoodStore();
async function save() {
  console.log(foodStore.editedFood);
  const { valid } = await form.value!.validate();
  if (valid) {
    await foodStore.saveFood();
  }
}
</script>
<template>
  <v-dialog v-model="foodStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Food</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="foodStore.editedFood.name"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Price*"
                  required
                  v-model="foodStore.editedFood.price"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) =>
                      Number.isInteger(Number(v)) ||
                      'The value must be a number',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Ingredients*"
                  required
                  v-model="foodStore.editedFood.ingredients"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Calories"
                  v-model="foodStore.editedFood.calories"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) =>
                      Number.isInteger(Number(v)) ||
                      'The value must be a number',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Preparation Time"
                  v-model="foodStore.editedFood.preparationTime"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) =>
                      Number.isInteger(Number(v)) ||
                      'The value must be a number',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Category"
                  required
                  v-model="foodStore.editedFood.category"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Image Url"
                  required
                  v-model="foodStore.editedFood.img"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="foodStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
