<script lang="ts" setup>
import { useFoodStore } from "@/stores/food";
import { onMounted, ref, computed } from "vue";
import { mdiMagnify } from "@mdi/js";
import FoodDialog from "./FoodDialog.vue";

const foodStore = useFoodStore();
const searchText = ref("");
const foodList = computed(() => {
  return foodStore.foods.filter((item) => {
    if (item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1) {
      return (
        item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    } else if (
      item.ingredients.toLowerCase().indexOf(searchText.value.toLowerCase()) >
      -1
    ) {
      return (
        item.ingredients.toLowerCase().indexOf(searchText.value.toLowerCase()) >
        -1
      );
    } else {
      return (
        item.category.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    }
  });
});

onMounted(async () => {
  await foodStore.getFoods();
});
</script>
<template>
  <h1 style="color: black; text-align: center">จัดการเมนูอาหาร</h1>
  <FoodDialog></FoodDialog>
  <v-row class="mt-5">
    <v-col>
      <v-btn @click="foodStore.dialog = true" color="green" height="55px"
        >Add New</v-btn
      >
    </v-col>
    <v-col>
      <v-text-field
        :prepend-inner-icon="mdiMagnify"
        label="Search By Name, Ingredients, Category"
        v-model="searchText"
      ></v-text-field>
    </v-col>
  </v-row>
  <v-table fixed-header height="71vh">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Ingredients</th>
        <th>Calories</th>
        <th>Preparation Time</th>
        <th>Category</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of foodList" :key="item.id">
        <td>{{ item.id }}</td>
        <td>
          <v-img
            cover
            draggable="false"
            :src="'' + item.img + ''"
            height="100"
          ></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.ingredients }}</td>
        <td>{{ item.calories }}</td>
        <td>{{ item.preparationTime }}</td>
        <td>{{ item.category }}</td>
        <td>
          <v-btn class="mr-5" @click="foodStore.editFood(item)" color="yellow"
            >Edit</v-btn
          ><v-btn @click="foodStore.deleteFood(item.id!)" color="red"
            >Delete</v-btn
          >
        </td>
      </tr>
      <tr v-if="foodList.length == 0">
        <td colspan="9" class="text-center" style="font-size: 200%">No Data</td>
      </tr>
    </tbody>
  </v-table>
</template>
