<script setup lang="ts">
let dialog = false;
</script>

<template>
  <v-container>
    <v-row justify="center" class="text-center" style="margin-top: 10px">
      <v-col cols="2">
        <v-card
          width="300px"
          height="50px"
          color="secondary"
          style="margin-left: -30px"
        >
          <v-card-title> ยกเลิกรายการอาหาร </v-card-title></v-card
        >
      </v-col>
    </v-row>
    <br /><br />
    <v-row justify="center">
      <v-col cols="1">อาหาร :</v-col>
      <v-col cols="2">
        <v-text-field variant="outlined"></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="1">จำนวน :</v-col>
      <v-col cols="2">
        <v-text-field variant="outlined"></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="1">วัตถุดิบ :</v-col>
      <v-col cols="2">
        <v-text-field variant="outlined"></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="1">
        <v-btn color="secondary">ยืนยัน</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
