<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/order";
import { onMounted, ref, computed } from "vue";
import table from "@/services/table";
import { useBillStore } from "@/stores/bill";
const tableStore = useTableStore();
const orderStore = useOrderStore();
const billStore = useBillStore();
const tableNum = tableStore.selected.id;

onMounted(async () => {
  await orderStore.getBillFromTableId(tableNum!);
});

const total = computed(() => {
  let sum = 0;
  for (const p of orderStore.bill) {
    sum = sum + p.total;
  }
  return sum;
});

function payBill() {
  billStore.payBill(orderStore.bill);
  orderStore.changeOrderStatusToPaidFromTableId(tableNum!);
  //tableStore.selected.status = "come on you need to tell every status in this entity please..."
}
</script>

<template>
  <v-container>
    <v-row justify="center" class="text-center" style="margin-top: 20px">
      <v-col cols="2">
        <v-card
          width="200px"
          height="50px"
          color="secondary"
          style="margin-left: 10px"
        >
          <v-card-title>โต๊ะ : {{ tableNum }}</v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-card width="500px" height="400" class="mx-auto">
    <v-container>
      <v-row style="overflow-y: auto; height: 36vh">
        <v-col cols="15">
          <v-table>
            <thead>
              <tr>
                <th>เมนู</th>
                <th>จำนวน</th>
                <th>ราคา</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="billItem of orderStore.bill" :key="billItem.id">
                <td>{{ billItem.name }}</td>
                <td>{{ billItem.amount }}</td>
                <td>{{ billItem.total }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col style="margin-left: 20px; font-size: larger">ทั้งหมด :</v-col>
        <v-col style="text-align: right; margin-right: 30px; font-size: larger"
          >{{ total }} บาท</v-col
        >
      </v-row>
    </v-container>
  </v-card>
  <br />
  <v-container>
    <v-row justify="center">
      <v-col cols="2">
        <router-link to="/QRcodeBill">
          <v-img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
            width="250px"
            height="250px"
            cover
            to="/QRcodeBill"
          >
          </v-img>
        </router-link>
      </v-col>
      <v-col cols="2">
        <v-img
          src="https://media.discordapp.net/attachments/793093052797419520/1080556753281876092/3f2026d78d7c137984e33c3dde27825c-removebg-preview.png"
          width="250px"
          height="250px"
          cover
        >
        </v-img>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row justify="center">
      <v-col cols="1">
        <v-btn
          color="secondary"
          width="150px"
          height="50px"
          to="/table"
          @click="payBill()"
          >ชำระเงิน</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
