<script setup lang="ts">
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
import { useCheckinoutStore } from "@/stores/checkinout";
const checkinoutStore = useCheckinoutStore();
const employee = JSON.parse(localStorage.getItem("user")!);
const employeeId = employee.employeeId;
const employeeName = employee.name;

const hours = ref("0");
const minutes = ref("0");
const seconds = ref("0");
// const login = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

function setTime() {
  setInterval(() => {
    const date = new Date();
    hours.value = checkSingleDigit(date.getHours());
    minutes.value = checkSingleDigit(date.getMinutes());
    seconds.value = checkSingleDigit(date.getSeconds());
  });
}

function checkSingleDigit(digit: number) {
  return ("0" + digit).slice(-2);
}

onMounted(async () => {
  setTime();
  if (employee.role == "Manager") {
    await checkinoutStore.getCheckinout();
  } else {
    await checkinoutStore.getCheckinoutByEmployeeId(employeeId);
  }
});

async function checkIn() {
  const { valid } = await form.value!.validate();
  if (valid) {
    if (await checkinoutStore.checkIn(password.value)) {
      form.value!.reset();
      if (employee.role == "Manager") {
        await checkinoutStore.getCheckinout();
      } else {
        await checkinoutStore.getCheckinoutByEmployeeId(employeeId);
      }
    }
  }
}
async function checkOut() {
  const { valid } = await form.value!.validate();
  if (valid) {
    if (await checkinoutStore.checkOut(password.value)) {
      form.value!.reset();
      if (employee.role == "Manager") {
        await checkinoutStore.getCheckinout();
      } else {
        await checkinoutStore.getCheckinoutByEmployeeId(employeeId);
      }
    }
  }
}
</script>

<template>
  <v-app>
    <v-main>
      <br /><br />
      <br /><br />
      <br /><br />
      <v-row>
        <v-col>
          <v-card
            width="650px"
            height="550px"
            class="mx-auto"
            variant="outlined"
          >
            <v-card-title primary-title class="text-center font-weight-bold">
              <br />
              CheckIn-Out
            </v-card-title>
            <v-row justify="center">
              <v-col cols="6">
                <div class="container">
                  <div class="clock-border">
                    <div class="clock-inner">
                      <div class="hour">{{ hours }}</div>
                      <div class="dots">:</div>
                      <div class="min">{{ minutes }}</div>
                      <div class="dots">:</div>
                      <div class="secs">{{ seconds }}</div>
                      <div class="mode"></div>
                    </div>
                  </div>
                </div>
              </v-col>
            </v-row>
            <v-card-text class="mt-10">
              <v-form ref="form" v-model="valid">
                <!-- <v-text-field
                  label="Email"
                  v-model="login"
                  :rules="[
                    (v) => !!v || 'Email is required',
                    (v) =>
                      /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                      'Email is not valid!!',
                  ]"
                >
                </v-text-field> -->
                <v-text-field
                  label="Password"
                  type="password"
                  v-model="password"
                  :rules="[
                    (v) => !!v || 'Password is required',
                    (v) =>
                      v.length >= 8 ||
                      'Password must be more than or equal 8 characters',
                  ]"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions class="justify-center mt-10">
              <v-btn color="success" @click="checkIn()">CheckIn</v-btn>
              <v-btn color="error" @click="checkOut()">CheckOut</v-btn>
              <br />
            </v-card-actions>
            <br />
          </v-card>
        </v-col>
        <v-col>
          <v-card
            width="650px"
            height="550px"
            max-height="550px"
            class="mx-auto"
            color="#000000"
            variant="outlined"
          >
            <v-container>
              <v-table height="520px" fixed-header>
                <thead>
                  <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Check-In Time</th>
                    <th>Check-Out Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item of checkinoutStore.checkinouts"
                    :key="item.id"
                  >
                    <td>{{ item.employeeId }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.checkInTime }}</td>
                    <td v-if="item.checkOutTime">{{ item.checkOutTime }}</td>
                    <td v-else style="color: red">ยังไม่ได้ Check Out</td>
                  </tr>
                </tbody>
              </v-table>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-main>
  </v-app>
</template>
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.hour,
.min,
.secs {
  font-size: 8em;
}

strong {
  color: blue;
}

p {
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
}

.clock-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 200px;
}

.clock-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 150px;
  border-radius: 20px;
  color: green;
}

.dots {
  font-size: 70px;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}
</style>
