<script setup lang="ts">
import { useBillStore } from "@/stores/bill";
import {
  mdiCashMultiple,
  mdiPasta,
  mdiArrowUp,
  mdiArrowDown,
  mdiChartLine,
} from "@mdi/js";
import { onMounted, ref } from "vue";

const timeFrames = ["วันนี้", "เดือนนี้", "ปีนี้"];
const timeframe = ref("วันนี้");
const billStore = useBillStore();

onMounted(async () => {
  await billStore.getDayBills();
  await billStore.getDayFoodBills();
  //got -> billStore.bills
});

async function checkSelect() {
  console.log("Got");
  switch (timeframe.value) {
    case "วันนี้":
      await billStore.getDayBills();
      await billStore.getDayFoodBills();
      break;
    case "เดือนนี้":
      await billStore.getMonthBills();
      await billStore.getMonthFoodBills();
      break;
    case "ปีนี้":
      await billStore.getYearBills();
      await billStore.getYearFoodBills();
      break;
    default:
      break;
  }
}

function getSalesPercent() {
  if (billStore.reports.length >= 2) {
    console.log(billStore.reports[0].totalSales);
    console.log(billStore.reports[1].totalSales);
    let percent =
      (billStore.reports[0].totalSales / billStore.reports[1].totalSales) *
        100 -
      100;
    if (percent >= 0)
      return (
        "+" +
        ((billStore.reports[0].totalSales / billStore.reports[1].totalSales) *
          100 -
          100) +
        "%"
      );
    return (
      "" +
      ((billStore.reports[0].totalSales / billStore.reports[1].totalSales) *
        100 -
        100) +
      "%"
    );
  }
  return "+0.00%";
}

function getTotalAmountPercent() {
  if (billStore.reports.length >= 2) {
    console.log(billStore.reports[0].totalAmount);
    console.log(billStore.reports[1].totalAmount);
    let percent =
      (billStore.reports[0].totalAmount / billStore.reports[1].totalAmount) *
        100 -
      100;
    if (percent >= 0)
      return (
        "+" +
        ((billStore.reports[0].totalAmount / billStore.reports[1].totalAmount) *
          100 -
          100) +
        "%"
      );
    return (
      "" +
      ((billStore.reports[0].totalAmount / billStore.reports[1].totalAmount) *
        100 -
        100) +
      "%"
    );
  }
  return "+0.00%";
}
</script>

<template>
  <v-row>
    <v-col></v-col>
    <v-col :md="2" :sm="4">
      <v-select
        v-model="timeframe"
        :items="timeFrames"
        label="ช่วง"
        @update:modelValue="checkSelect"
      ></v-select>
    </v-col>
  </v-row>
  <v-col :xl="12" :lg="10">
    <v-container style="overflow-y: auto; height: 90vh">
      <v-row>
        <v-col :xl="6" :sm="12">
          <v-row>
            <v-col :md="6" :sm="12">
              <v-card class="mx-auto" width="98%" elevation="5">
                <template v-slot:title>
                  <v-icon large color="green" :icon="mdiCashMultiple"></v-icon>
                  ยอดขาย
                </template>

                <v-card-item class="pa-5">
                  <div class="text-h6 mb-1">
                    {{
                      new Intl.NumberFormat().format(
                        billStore.report!.totalSales
                      )
                    }}
                    ฿
                  </div>
                  <div class="text-caption" style="color: grey">
                    {{ getSalesPercent() }}
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
            <v-col :lg="6" :md="6" :sm="12">
              <v-card class="mx-auto" width="98%" elevation="5">
                <template v-slot:title>
                  <v-icon large color="warning" :icon="mdiPasta"></v-icon>
                  จำนวนอาหารที่ขาย
                </template>

                <v-card-item class="pa-5">
                  <div class="text-h6 mb-1">
                    {{
                      new Intl.NumberFormat().format(
                        billStore.report!.totalAmount
                      )
                    }}
                    จาน
                  </div>
                  <div class="text-caption" style="color: grey">
                    {{ getTotalAmountPercent() }}
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card class="mx-auto" width="99%" elevation="5">
                <template v-slot:title>
                  <v-icon large color="green" :icon="mdiChartLine"></v-icon>
                  จำนวนยอดขายย้อนหลัง
                </template>

                <v-card-item class="pa-5">
                  <div
                    class="text-h6 mb-1"
                    v-for="(report, index) in billStore.reports"
                    :key="index"
                  >
                    {{ index + 1 }}. {{ report.date }} -
                    {{ new Intl.NumberFormat().format(report.totalSales) }} ฿
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col :xl="3" :lg="6" :md="6" :sm="12">
          <v-card class="mx-auto" width="98%" height="100%" elevation="5">
            <template v-slot:title>
              <v-icon large color="green" :icon="mdiArrowUp"></v-icon>
              อันดับอาหารที่ขายดีที่สุด
            </template>

            <v-card-item class="pa-5">
              <div
                class="text-h6 mb-1"
                v-for="(foodReport, index) in billStore.foodReports.slice(
                  0,
                  10
                )"
                :key="index"
              >
                {{ index + 1 }}. {{ foodReport.name }}
                {{ foodReport.totalAmount }} จาน
              </div>
            </v-card-item>
          </v-card>
        </v-col>
        <v-col :xl="3" :lg="6" :md="6" :sm="12">
          <v-card class="mx-auto" width="98%" height="100%" elevation="5">
            <template v-slot:title>
              <v-icon large color="red" :icon="mdiArrowDown"></v-icon>
              อันดับอาหารที่ขายน้อยที่สุด
            </template>

            <v-card-item class="pa-5">
              <div
                class="text-h6 mb-1"
                v-for="(foodReport, index) in billStore.foodReports
                  .reverse()
                  .slice(0, 10)"
                :key="index"
              >
                {{ index + 1 }}. {{ foodReport.name }}
                {{ foodReport.totalAmount }} จาน
              </div>
            </v-card-item>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-col>
</template>
