<script setup lang="ts">
import { RouterView } from "vue-router";
import {
  mdiTableChair,
  mdiReorderHorizontal,
  mdiLogout,
  mdiBriefcaseClockOutline,
  mdiFood,
  mdiFoodTurkey,
  mdiFoodSteak,
  mdiAccountGroupOutline,
  mdiAccountTie,
  mdiFoodCroissant,
  mdiStoreCheck,
  mdiHome,
} from "@mdi/js";
import { ref } from "vue";
import { useAuthStore } from "@/stores/auth";

const authStore = useAuthStore();
const role = JSON.parse(localStorage.getItem("user")!).role;

function logout() {
  authStore.logout();
}

const drawer = ref(true);
const rail = ref(true);
</script>

<template>
  <v-app>
    <v-card>
      <v-layout>
        <v-navigation-drawer
          v-model="drawer"
          :rail="rail"
          permanent
          @click="rail = false"
        >
          <v-list-item
            :prepend-icon="mdiReorderHorizontal"
            @click.stop="rail = !rail"
          >
          </v-list-item>

          <v-divider></v-divider>

          <v-list density="compact" nav>
            <v-list-item
              :prepend-icon="mdiHome"
              title="Dashboard"
              value="Home"
              to="/"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiTableChair"
              title="จัดการโต๊ะ"
              value="ManageTable"
              to="/table"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiFood"
              title="สั่งอาหาร"
              value="OrderCustomer"
              to="/OrderCustomer"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiFoodTurkey"
              title="อาหารพร้อมเสริฟ"
              value="FoodServe"
              to="/food-serve"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiFoodSteak"
              title="รายการอาหาร"
              value="FoodList"
              to="/food-list"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiBriefcaseClockOutline"
              title="Check in-out"
              value="CheckInOut"
              to="/CheckInOut"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiStoreCheck"
              title="สต๊อก"
              value="stock"
              to="/stock"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              v-if="role === 'Manager'"
              :prepend-icon="mdiAccountTie"
              title="จัดการพนักงาน"
              value="employee"
              to="/employee"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              v-if="role === 'Manager'"
              :prepend-icon="mdiAccountGroupOutline"
              title="จัดการผู้ใช้งาน"
              value="user"
              to="/user"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              v-if="role === 'Manager'"
              :prepend-icon="mdiFoodCroissant"
              title="จัดการเมนูอาหาร"
              value="food"
              to="/food"
              @click.stop="rail = rail"
            ></v-list-item>
            <v-list-item
              :prepend-icon="mdiLogout"
              title="Log out"
              value="Logout"
              @click="logout"
            ></v-list-item>
          </v-list>
        </v-navigation-drawer>
        <v-main style="height: 100vh">
          <v-container>
            <router-view></router-view>
          </v-container>
        </v-main>
      </v-layout>
    </v-card>
  </v-app>
</template>

<style scoped></style>
