<script setup lang="ts">
import { useFoodStore } from "@/stores/food";
import { useOrderStore } from "@/stores/order";
import type Food from "@/types/Food";
import type OrderItem from "@/types/OrderItem";
import type Order from "@/types/Order";
import { ref, computed, onMounted } from "vue";
import type { VForm } from "vuetify/components";
import router from "@/router";
import { useTableStore } from "@/stores/table";
import { mdiMagnify } from "@mdi/js";

const form = ref<VForm | null>(null);
const foodStore = useFoodStore();
const orderStore = useOrderStore();
const tableStore = useTableStore();
const order = ref<Order>();
const orderItems = ref<Food[]>([]);
const searchText = ref("");
const foodList = computed(() => {
  return foodStore.foods.filter((item) => {
    return item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1;
  });
});

onMounted(async () => {
  await foodStore.getFoods();
  order.value = orderStore.editedOrder;
});

const total = computed(() => {
  let sum = 0;
  for (const p of orderItems.value) {
    sum = sum + p.price;
  }
  return sum;
});

async function orderFood() {
  const { valid } = await form.value!.validate();
  if (valid) {
    const orderOrderItem: OrderItem[] = [];
    orderItems.value.forEach((food) => {
      let flag = false;
      orderOrderItem.forEach((orderitem) => {
        if (orderitem.foodId == food.id) {
          orderitem.amount++;
          flag = true;
        }
      });
      if (!flag) {
        orderOrderItem.push({ foodId: food.id!, amount: 1 });
      }
    });
    console.log(orderOrderItem);
    orderOrderItem.forEach((orderitem) => {
      orderStore.editedOrder.orderItems.push(orderitem);
    });
    orderStore.saveOrder();
    orderItems.value = [];
  }
}

const addProduct = (product: Food) => {
  orderItems.value.push(product);
};

function orderedFood() {
  if (!orderStore.editedOrder.table) {
    return;
  }
  tableStore.selected.id = orderStore.editedOrder.table;
  router.push("/OrderedFood");
}

// function changeTable() {
//   orderStore.changeOrderTableId(10, 1); oldTableId, newTableId
// }
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container>
          <v-row style="overflow-y: auto; height: 70vh">
            <v-col cols="6" v-for="product of foodList" :key="product.id">
              <v-card class="pa-2 text-center" height="300">
                <v-card-title class="text-h5">{{ product.name }}</v-card-title>
                <v-card-text class="text-h6">{{ product.price }}</v-card-text>
                <v-card-action>
                  <v-img
                    cover
                    draggable="false"
                    :src="'' + product.img + ''"
                    height="200"
                    @click="addProduct(product)"
                  ></v-img>
                </v-card-action>
              </v-card>
            </v-col>
            <v-col
              cols="12"
              v-if="foodList.length == 0"
              class="text-center my-auto"
              style="font-size: 200%"
              >ไม่พบอาหารที่ค้นหา
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="mt-12">
              <v-text-field
                :prepend-inner-icon="mdiMagnify"
                label="Search By Name"
                v-model="searchText"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-row style="overflow-y: auto; height: 70vh">
            <v-col cols="12">
              <v-table>
                <thead>
                  <tr>
                    <th>รายการอาหาร</th>
                    <th>ราคา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="orderItems.length == 0">
                    <td colspan="3" class="text-center">No Data</td>
                  </tr>
                  <tr v-for="(product, index) of orderItems" :key="index">
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols=" 12 " class="text-h7"> ราคารวม {{ total }} บาท</v-col>
            <v-btn @click="orderFood" to="/OrderedFood">รายการที่สั่ง</v-btn>
            <!-- <v-btn @click="changeTable()">เปลี่ยนโต๊ะ</v-btn> -->
            <v-btn style="margin-left: 2em" @click="orderFood()"
              >สั่งอาหาร</v-btn
            >
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-form ref="form">
                <v-text-field
                  label="Table ID*"
                  required
                  v-model="orderStore.editedOrder.table"
                  :rules="[
                    (v) => !!v || 'ID is required',
                    (v) =>
                      Number.isInteger(Number(v)) ||
                      'The value must be a number',
                  ]"
                ></v-text-field>
              </v-form>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style></style>
