<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import { onMounted, ref } from "vue";
const tableStore = useTableStore();
const tableNum = tableStore.selected.id;
</script>

<template>
  <v-card class="mx-auto mt-10" width="400" color="secondary">
    <v-card-title> Table Number : {{ tableNum }}</v-card-title>
    <v-img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
      height="400px"
      cover
    >
    </v-img>
  </v-card>
</template>

<style scoped></style>
