<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import { ref } from "vue";
const tableStore = useTableStore();
const tableNum = tableStore.selected.id;
const table = ref(tableStore.selected);
const showtable = ref(true);

const checkStatus = (s: Table): boolean => {
  if (s.status === "A") {
    return true;
  }
  return false;
};

showtable.value = checkStatus(table.value);
const changeStatus = () => {
  if (table.value.status == "A") {
    tableStore.updateTables("U");
  } else {
    tableStore.updateTables("C");
  }
  table.value.status = tableStore.selected.status;
  // changeStatus(table.value);
  showtable.value = false;
};
</script>

<template>
  <v-card class="mx-auto" width="400" color="secondary">
    <v-card-title> Table Number : {{ tableNum }}</v-card-title>

    <v-img
      src="https://cdn.discordapp.com/attachments/897497654731366441/1084888457744224407/QR.png"
      height="400px"
      cover
    >
    </v-img>
    <v-card-title> (👉ﾟヮﾟ)👉 QR Menu 👈(ﾟヮﾟ👈) </v-card-title>
    <v-card-subtitle>Scan the QR to order food.</v-card-subtitle>
    <v-card-actions class="jutify-center">
      <v-btn
        v-if="showtable == true"
        variant="flat"
        color="green"
        style="padding-left: 40px; padding-right: 40px; width: 165px"
        @click="changeStatus()"
        >Reserve (จองโต๊ะ)</v-btn
      ></v-card-actions
    >
    <v-card-actions class="jutify-center">
      <v-btn
        v-if="showtable == false"
        variant="flat"
        color="green"
        style="padding-left: 40px; padding-right: 40px; width: 165px"
        to="/OrderCustomer"
        >Menu (เมนู)</v-btn
      >
    </v-card-actions>
    <v-card-actions class="justify-center">
      <v-btn
        v-if="showtable == true"
        variant="flat"
        color="red"
        style="padding-left: 40px; padding-right: 40px; width: 165px"
        to="/table"
        >move (ย้ายโต๊ะ)</v-btn
      ></v-card-actions
    >
    <v-card-actions class="justify-center">
      <v-btn
        v-if="showtable == false"
        variant="flat"
        color="red"
        style="padding-left: 40px; padding-right: 40px; width: 165px"
        @click="changeStatus()"
        to="/CheckBillChoice"
        >Check Bill (คิดเงิน)</v-btn
      ></v-card-actions
    >
  </v-card>
</template>

<style scoped></style>
