<script setup lang="ts">
import { useFoodStore } from "@/stores/food";
import { mdiDelete, mdiPencil } from "@mdi/js";
const foodStore = useFoodStore();
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ชื่อ</th>
        <th>จำนวน</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of foodStore.foods" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn :icon="mdiPencil"></v-btn>
          <v-btn :icon="mdiDelete"></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
