<script setup lang="ts">
import { useTableStore } from "@/stores/table";
import router from "@/router";
import { onMounted } from "vue";
import type Table from "@/types/Table";
import CleanTable from "./CleanTable.vue";
//import CleanDialog form
const tableStore = useTableStore();
onMounted(async () => {
  await tableStore.getTables();
});

const checkStatus = (status: string): string => {
  if (status === "A") {
    return "green";
  } else if (status === "U") {
    return "red";
  }
  return "rgb(255, 149, 62)";
};

const selectTables = (table: Table) => {
  if (table.status === "C") {
    tableStore.dialog = true;
  }
  // } else {
  //   router.push("QRCode");
  // }
  tableStore.selectTables(table);
};

const changeStatus = (table: Table) => {
  selectTables(table);
  if (table.status == "A") {
    tableStore.updateTables("U");
  } else {
    tableStore.updateTables("C");
  }
  table.status = tableStore.selected.status;
  // changeStatus(table.value);
};
</script>

<template>
  <h1 style="color: black; text-align: center">จัดการโต๊ะ</h1>
  <v-container align="center">
    <v-card flat class="overflow-y-auto" max-height="90vh">
      <v-row>
        <v-col
          cols="6"
          md="4"
          v-for="item of tableStore.tableList"
          :key="item.id"
        >
          <v-card height="200px" width="300px">
            <v-btn
              height="60%"
              width="100%"
              class="text-h3"
              :color="checkStatus(item.status!)"
              flat
              >{{ item.id + `(${item.seats})` }}</v-btn
            >
            <div style="text-align: center">
              <v-btn
                v-if="item.status === 'A'"
                color="green"
                class="mx-1 mt-5"
                @click="changeStatus(item)"
                >เปิดโต๊ะ</v-btn
              >
              <v-btn
                v-if="item.status === 'U'"
                color="green"
                class="mx-1 mt-5"
                to="/OrderTable"
                @click="selectTables(item)"
                >เมนูอาหาร</v-btn
              >
              <v-btn
                v-if="item.status === 'U'"
                color="blue"
                class="mx-1 mt-5"
                @click="selectTables(item)"
                to="/CheckBillChoice"
                >เช็คบิล</v-btn
              >
              <v-btn
                v-if="item.status === 'C'"
                color="orange"
                class="mx-1 mt-5"
                @click="selectTables(item)"
                >ทำความสะอาดโต๊ะ</v-btn
              >
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
    <CleanTable></CleanTable>
  </v-container>
</template>
<style scoped></style>
