<script lang="ts" setup>
import { useMessageStore } from "@/stores/message";
import { mdiAccountCheck, mdiAlertBoxOutline } from "@mdi/js";

const messageStore = useMessageStore();
</script>
<template>
  <v-snackbar v-model="messageStore.isShow" multi-line>
    <v-icon
      v-if="messageStore.type === messageStore.DialogType.error"
      size="32"
      color="red"
      :icon="mdiAlertBoxOutline"
    ></v-icon>
    <v-icon size="32" color="green" :icon="mdiAccountCheck" v-else></v-icon>
    {{ messageStore.message }}

    <template v-slot:actions>
      <v-btn
        v-if="messageStore.type === messageStore.DialogType.error"
        color="red"
        variant="text"
        @click="messageStore.isShow = false"
      >
        Close
      </v-btn>
      <v-btn
        v-else
        color="green"
        variant="text"
        @click="messageStore.isShow = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
