<script setup lang="ts">
import MainMenu from "./views/MainMenuView.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
import LoginView from "./views/LoginView.vue";
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();

const loginStore = useLoginStore();
onMounted(() => {
  console.log("On Mounted");
  loginStore.loadData();
});
</script>

<template>
  <!-- <LoginView v-if="!loginStore.isLogin" />
  <MainMenu
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :loginName="loginStore.loginName"
  /> -->
  <LoginView v-if="!authStore.isLogin()" />
  <MainMenu v-if="authStore.isLogin()" @logout="authStore.logout()" />
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
</template>

<style scoped></style>
