<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted, ref, computed } from "vue";
import { mdiMagnify } from "@mdi/js";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();
const searchText = ref("");

const userList = computed(() => {
  return userStore.users.filter((item) => {
    if (item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1) {
      return (
        item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    } else if (
      item.email.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
    ) {
      return (
        item.email.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    } else {
      return (
        item.role.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
      );
    }
  });
});

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <h1 style="color: black; text-align: center">จัดการผู้ใช้งาน</h1>
  <UserDialog></UserDialog>
  <v-row class="mt-5">
    <v-col>
      <v-btn @click="userStore.dialog = true" color="green" height="55px"
        >Add New</v-btn
      >
    </v-col>
    <v-col>
      <v-text-field
        :prepend-inner-icon="mdiMagnify"
        label="Search By Name, Email, Role"
        v-model="searchText"
      ></v-text-field>
    </v-col>
  </v-row>
  <v-table fixed-header>
    <thead>
      <tr>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userList" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.employeeId }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td>
          <v-btn class="mr-5" @click="userStore.editUser(item)" color="yellow"
            >Edit</v-btn
          ><v-btn @click="userStore.deleteUser(item.id!)" color="red"
            >Delete</v-btn
          >
        </td>
      </tr>
      <tr v-if="userList.length == 0">
        <td colspan="6" class="text-center" style="font-size: 200%">No Data</td>
      </tr>
    </tbody>
  </v-table>
</template>
