<script lang="ts" setup>
import { useStockStore } from "@/stores/stock";
import { onMounted, ref, computed } from "vue";
import { mdiMagnify } from "@mdi/js";
import StockDialog from "./StockDialog.vue";

const stockStore = useStockStore();
const searchText = ref("");
const role = JSON.parse(localStorage.getItem("user")!).role;

const stockList = computed(() => {
  return stockStore.stocks.filter((item) => {
    return item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1;
  });
});

onMounted(async () => {
  await stockStore.getStocks();
});
</script>
<template>
  <h1 style="color: black; text-align: center">สต๊อก</h1>
  <StockDialog></StockDialog>
  <v-row class="mt-5">
    <v-col>
      <v-btn
        @click="stockStore.dialog = true"
        color="green"
        height="55px"
        :disabled="role != 'Manager'"
        >Add New</v-btn
      >
    </v-col>
    <v-col>
      <v-text-field
        :prepend-inner-icon="mdiMagnify"
        label="Search By Name"
        v-model="searchText"
      ></v-text-field>
    </v-col>
  </v-row>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of stockList" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.amount }}</td>

        <td>
          <v-btn
            class="mr-5"
            @click="stockStore.editStock(item)"
            color="yellow"
            :disabled="role != 'Manager'"
            >Edit</v-btn
          ><v-btn
            @click="stockStore.deleteStock(item.id!)"
            color="red"
            :disabled="role != 'Manager'"
            >Delete</v-btn
          >
        </td>
      </tr>
      <tr v-if="stockList.length == 0">
        <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
      </tr>
    </tbody>
  </v-table>
</template>
